Blinken/MailNotifierChanger/Service References/MailNotifierService/NotifierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotifierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IMailNotifierService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8003/mailnotifier?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8003/mailnotifier?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMailNotifierService_FadeToRgb_InputMessage">
    <wsdl:part name="parameters" element="tns:FadeToRgb" />
  </wsdl:message>
  <wsdl:message name="IMailNotifierService_FadeToRgb_OutputMessage">
    <wsdl:part name="parameters" element="tns:FadeToRgbResponse" />
  </wsdl:message>
  <wsdl:message name="IMailNotifierService_FadeToMultiRgb_InputMessage">
    <wsdl:part name="parameters" element="tns:FadeToMultiRgb" />
  </wsdl:message>
  <wsdl:message name="IMailNotifierService_FadeToMultiRgb_OutputMessage">
    <wsdl:part name="parameters" element="tns:FadeToMultiRgbResponse" />
  </wsdl:message>
  <wsdl:message name="IMailNotifierService_SetColorRgb_InputMessage">
    <wsdl:part name="parameters" element="tns:SetColorRgb" />
  </wsdl:message>
  <wsdl:message name="IMailNotifierService_SetColorRgb_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetColorRgbResponse" />
  </wsdl:message>
  <wsdl:portType name="IMailNotifierService">
    <wsdl:operation name="FadeToRgb">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailNotifierService/FadeToRgb" message="tns:IMailNotifierService_FadeToRgb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailNotifierService/FadeToRgbResponse" message="tns:IMailNotifierService_FadeToRgb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FadeToMultiRgb">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailNotifierService/FadeToMultiRgb" message="tns:IMailNotifierService_FadeToMultiRgb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailNotifierService/FadeToMultiRgbResponse" message="tns:IMailNotifierService_FadeToMultiRgb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetColorRgb">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailNotifierService/SetColorRgb" message="tns:IMailNotifierService_SetColorRgb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailNotifierService/SetColorRgbResponse" message="tns:IMailNotifierService_SetColorRgb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IMailNotifierService" type="tns:IMailNotifierService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IMailNotifierService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="FadeToRgb">
      <soap12:operation soapAction="http://tempuri.org/IMailNotifierService/FadeToRgb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FadeToMultiRgb">
      <soap12:operation soapAction="http://tempuri.org/IMailNotifierService/FadeToMultiRgb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetColorRgb">
      <soap12:operation soapAction="http://tempuri.org/IMailNotifierService/SetColorRgb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotifierService">
    <wsdl:port name="NetNamedPipeBinding_IMailNotifierService" binding="tns:NetNamedPipeBinding_IMailNotifierService">
      <soap12:address location="net.pipe://localhost/mailnotifier/sign" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/mailnotifier/sign</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>