Blinken/MorseCodeGenerator/Service References/MailNotifierService/mailnotifier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoFadeTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="red" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="green" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="blue" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFadeToResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="red" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="green" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="blue" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>