Blinken/SignTextChanger/Service References/SignService/SignService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SignService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ISignService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/ledsign?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/ledsign?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/ledsign?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISignService_ScrollText_InputMessage">
    <wsdl:part name="parameters" element="tns:ScrollText" />
  </wsdl:message>
  <wsdl:message name="ISignService_ScrollText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScrollTextResponse" />
  </wsdl:message>
  <wsdl:message name="ISignService_ScrollImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ScrollImage" />
  </wsdl:message>
  <wsdl:message name="ISignService_ScrollImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScrollImageResponse" />
  </wsdl:message>
  <wsdl:message name="ISignService_SetText_InputMessage">
    <wsdl:part name="parameters" element="tns:SetText" />
  </wsdl:message>
  <wsdl:message name="ISignService_SetText_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTextResponse" />
  </wsdl:message>
  <wsdl:portType name="ISignService">
    <wsdl:operation name="ScrollText">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignService/ScrollText" message="tns:ISignService_ScrollText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignService/ScrollTextResponse" message="tns:ISignService_ScrollText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScrollImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignService/ScrollImage" message="tns:ISignService_ScrollImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignService/ScrollImageResponse" message="tns:ISignService_ScrollImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetText">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignService/SetText" message="tns:ISignService_SetText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignService/SetTextResponse" message="tns:ISignService_SetText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ISignService" type="tns:ISignService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ISignService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="ScrollText">
      <soap12:operation soapAction="http://tempuri.org/ISignService/ScrollText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScrollImage">
      <soap12:operation soapAction="http://tempuri.org/ISignService/ScrollImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetText">
      <soap12:operation soapAction="http://tempuri.org/ISignService/SetText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignService">
    <wsdl:port name="NetNamedPipeBinding_ISignService" binding="tns:NetNamedPipeBinding_ISignService">
      <soap12:address location="net.pipe://localhost/ledsign/sign" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ledsign/sign</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>